[data-tooltip]::before {
    content : attr(data-tooltip);
    display:none;
    position: absolute;
}

[data-tooltip]:hover::before {
    display : block;
}
[data-tooltip]{ 
    position:relative; 
    border-bottom: 1px dotted #09C;
    cursor:pointer;
}
[data-tooltip]::before {
    content : attr(data-tooltip);
    background-color:rgba(0,0,0,.75);
    color:white;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    width:150px;
    padding:10px;
    height:auto;
    border-radius:3px;
    display:none;
    position:absolute;
    bottom:25px;
    left:calc(100% - 605%);
    pointer-events: none;
    z-index:99;
}
[data-tooltip]::after{
    content:"";
    height:1px;
    width:1px;
    border:10px solid transparent;
    border-top-color:rgba(0,0,0,.75);
    position:absolute;
    bottom:4px;
    left:1%;
    display: none;
}
[data-tooltip]:hover::before,
[data-tooltip]:hover::after
{ display:block;} 


.emergente [data-tooltip]::before {
    display:block;
    opacity:0;
    pointer-events: none;
    }
    .emergente [data-tooltip]::after{
    opacity:0;
    pointer-events: none;
    }

    .emergente [data-tooltip]:hover::before,
    .emergente [data-tooltip]:hover::after {
    animation-name: toolTip;
    animation-duration: 1s;
}
/* define las fotogramas de la animación*/
@keyframes toolTip {
  0%   {opacity:0;}
  100% {opacity:1;}
  }

  .emergente [data-tooltip]:hover::before,
.emergente [data-tooltip]:hover::after
{opacity:1;} 


.navbar-custom-menu>.navbar-nav>li>.perfil-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
}